name: CMake Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 5
    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
        
      - name: Build Project
        shell: bash
        run: |
          cd Team37/Code37
          mkdir build
          cd build
          cmake -G "Ninja" -A x64
          cmake --build . --target unit_testing --config Release
          cmake --build . --target autotester --config Release
          cd ../..
      
      - name: Run unit tests
        run: ./Team37/Code37/src/unit_testing/x64-Release/unit_testing.exe
      
      - name: Run integration tests
        run: |
          cd Team37/Tests37
          python script.py
      